header {
  background-color: hsl(0, 0%, 7%);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: larger;
  height: 100vh;
  justify-content: left;
  padding: 15px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: #6cbd26;
}

.container__header-logo {
  align-items: center;
  display: flex;
  font-size: medium;
  justify-content: center;
}

.container__header-logo a:hover {
  background-color: transparent;
}

.container__header-logo h1 {
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  font-size: larger;
  gap: 40px;
  height: 70vh;
  justify-content: center;
  text-align: center;
}

.icon-nav {
  margin-right: 5px;
}

.profile {
  padding-right: 35px;
}

.container__header-user {
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.container__header-user img {
  background-color: lightgrey;
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

.user-infos {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}


.container__header-logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.container__header-logout a:hover {
  background-color: transparent;
}

.button-logout {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: large;
  padding: 10px;
  text-align: center;
}

.button-logout:hover {
  border: 2px solid #6cbd26;
  filter: drop-shadow(0 0  5px #6cbd26);
}

.button-logout:active {
  transform: scale(0.91);
}

@media screen and ( orientation : portrait ) {

  header {
    align-items: first baseline;
    flex-direction: row;
    font-size: small;
    height: 100px;
    justify-content: space-between;
    width: 100%;
  }

  .container__header-logo, .user-infos, .user-load {
    display: none;
  }

  nav {
    flex-direction: row;
    gap: 15px;
    height: 0;
    margin-left: 20px;
  }

  .button-logout {
    border: none;
    font-size: medium;
  }

}

@media screen and ( max-width : 280px ) {

  .container__header-logout {
    padding: 0;
  }

  .button-logout {
    padding: 0;
  }

  nav {
    gap: 10px;
    margin-left: 2px;
  }
}
