@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap') ;

:root {

  --background: #005;

  --primary: #eaffc2;

  --secondary: #ccffc2;

  --third: #e1ffdc;
}

* {
  border: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: Manrope , sans-serif;
  margin: 0;
  padding: 0;
  right: 0;
}

form h1 {
  color: #02120c;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 1.2em;
  margin-top: 0.2em;
  text-align: center;
}

.container {
  align-content: center;
  background-color: hsl(0, 0%, 7%);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 6%;
  width: 100vw;
}

.container form {
  animation: morph 8s ease-in-out infinite;
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 2em;
  padding-bottom: 3em;
}

@keyframes morph {

  0% {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}


.container form input {
  background: transparent;
  border: 1px solid #02120c;
  border-radius: 40px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  color: #02120c;
  margin-bottom: 1.2em;
  padding: 1em;
  width: 100%;
}

.container form input:focus {
  outline: none;
}

.container form input::placeholder {
  color: #02120c;
  text-align: center;
}

.container form button {
  background: #6cbd26;
  border: 2px solid #6cbd26;
  border-radius: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #02120c;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: hidden;
  padding: 0.8em;
  text-align: center;
  transition: all 200ms ease-in-out;
  width: 100%;

}

.container form button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.container form button:disabled {
  background: transparent;
  border: 1px solid #02120c;
}

