.container__page-search {
  display: flex;
  flex-direction: row;
}


.container__search {
  background-color: #1d1d1d;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/*   background-color: #6cbd26; */

/* Estilos para a searchbar */
.searchbar {
  align-items: center;
  background-color: #1fdf64;
  display: flex;
  height: 100px;
  justify-content: center;
}

/* Estilos para o formulário */
.searchbar form {
  display: flex;
  max-width: 400px;
  padding: 2em;
  width: 400px;
}

/* Estilos para o campo de entrada (input) */
.searchbar input {
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  padding: 1em;
  width: 100%; /* Ocupa todo o espaço disponível */
}

.searchbar input:focus {
  outline: none;
}

.searchbar input::placeholder {
  color: white;
}

/* Estilos para o botão */
.searchbar button {
  background-color: transparent;
  border: none;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  font-size: large;
  margin-left: -3em; /* Ajusta a margem para sobrepor o campo de entrada */
  padding: 1em;
}

.container__results {
  color: white;
  font-size: larger;
  margin: 10px;
  text-align: center;
}

.container_albums {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  max-height: 80vh; /* Usando 80% da altura da viewport */
  overflow-x: auto;
  overflow-y: auto;
}


.container_albums::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

.container_albums::-webkit-scrollbar {
  width: 6px;
}

.container_albums::-webkit-scrollbar-thumb {
  background-color: palegreen;
}

@media screen and ( orientation : portrait ) {

  .container__page-search {
    flex-direction: column;
  }
}
